*{
  font-weight: bold;
}
h2 {
  text-align: center;
}

.p {
  text-align: center;
  padding-top: 130px;
}


table tr{

  border-bottom:1px solid grey;
}
td{

  padding: 5px;
}

.errspan {
    float: right;
    margin-right: 6px;
    margin-top: -20px;
    position: relative;
    z-index: 2;


}
